body {
    background-color: rgb(198, 142, 120); 
    border: black;
    position: absolute;
    left: 30%;
    top:5%;
    width: auto;
    text-align: center;
}

table {
    
    border-style: solid;
    background-color: yellow; 
    
}
h1
{
    color:Orange; 
}